[submodule ".registry"]
	path = .registry
	url = https://github.com/b-cubed-eu/b-cubed-eu.r-universe.dev
	branch = HEAD
[submodule "b3gbi"]
	path = b3gbi
	url = https://github.com/b-cubed-eu/b3gbi
[submodule "gcube"]
	path = gcube
	url = https://github.com/b-cubed-eu/gcube
[submodule "mgrs"]
	path = mgrs
	url = https://github.com/hrbrmstr/mgrs
