[submodule ".registry"]
	path = .registry
	url = https://github.com/b-cubed-eu/b-cubed-eu.r-universe.dev
	branch = HEAD
[submodule "dubicube"]
	path = dubicube
	url = https://github.com/b-cubed-eu/dubicube
[submodule "gcube"]
	path = gcube
	url = https://github.com/b-cubed-eu/gcube
