[submodule ".registry"]
	path = .registry
	url = https://github.com/b-cubed-eu/b-cubed-eu.r-universe.dev
	branch = HEAD
[submodule "b3doc"]
	path = b3doc
	url = https://github.com/b-cubed-eu/b3doc
[submodule "b3gbi"]
	path = b3gbi
	url = https://github.com/b-cubed-eu/b3gbi
[submodule "bold"]
	path = bold
	url = https://github.com/ropensci/bold
	registered = false
[submodule "dubicube"]
	path = dubicube
	url = https://github.com/b-cubed-eu/dubicube
[submodule "ebvcube"]
	path = ebvcube
	url = https://github.com/EBVcube/ebvcube
[submodule "effectclass"]
	path = effectclass
	url = https://github.com/inbo/effectclass
	registered = false
[submodule "gcube"]
	path = gcube
	url = https://github.com/b-cubed-eu/gcube
[submodule "impIndicator"]
	path = impIndicator
	url = https://github.com/b-cubed-eu/impIndicator
[submodule "mgrs"]
	path = mgrs
	url = https://github.com/hrbrmstr/mgrs
[submodule "pdindicatoR"]
	path = pdindicatoR
	url = https://github.com/b-cubed-eu/pdindicatoR
[submodule "rgbif"]
	path = rgbif
	url = https://github.com/ropensci/rgbif
	branch = master
[submodule "taxize"]
	path = taxize
	url = https://github.com/ropensci/taxize
	registered = false
[submodule "trias"]
	path = trias
	url = https://github.com/trias-project/trias
